version: "3.9"

services:
  lpbank_php:
    container_name: lpbank_php
    build:
      context: ${DOCKER_CONTEXT}
      dockerfile: ${DOCKERFILE_PATH}
    volumes:
      - ../../:/var/www/lpbank
    working_dir: /var/www/lpbank
    networks:
      - dev_network

  lpbank_nginx:
    image: nginx:latest
    container_name: lpbank_nginx
    volumes:
      - ../../:/var/www/lpbank
      - ./nginx/lpbank-local.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - lpbank_php
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.lpbank.rule=Host(\"lpbank.local\")"
      - "traefik.http.routers.lpbank.entrypoints=web"
      - "traefik.http.services.lpbank.loadbalancer.server.port=80"
    networks:
      - dev_network

networks:
  dev_network:
    external: true